
    <section id="search" class="input">
        <span>Search</span>
        <input #searchBar (change)="updateSearch($event)" #bio cols="10" rows="5" id="bio" placeholder="Address, Name or Symbol"/>
    </section>
    <section id="search-results">
        <app-search-result type="token" [data]="result" matchedBy="Token Address" *ngFor="let result of (this.tokenAddressSearchResults | async)"
        [@ngIfProfileAnimations]>

        </app-search-result>
        <app-search-result type="token" [data]="result" matchedBy="Token Symbol" *ngFor="let result of (this.tokenSymbolSearchResults | async)"
        [@ngIfProfileAnimations]>

        </app-search-result>
        <app-search-result type="token" [data]="result" matchedBy="Token Name" *ngFor="let result of (this.tokenNameSearchResults | async)"
        [@ngIfProfileAnimations]>

        </app-search-result>
        <app-search-result type="pool" [data]="result" matchedBy="Pool Address" *ngFor="let result of (this.poolAddressSearchResults | async)"
        [@ngIfProfileAnimations]>

        </app-search-result>
    </section>

<section class="slider-row" id="hottest">
    <h5 class="heading third"><span id="text">Hottest</span><small id="description">$USD volume in a day</small></h5>
    <section class="items-wrapper">
        <section class="items">
            <ng-container *ngFor="let item of (this.hottest | async); let index = index">
                <app-link-box [data]="{
                    heading: item.pool.token0.symbol + '/' + item.pool.token1.symbol,
                    footing: item.pool.token1.symbol,
                    tagline: undefined,
                    amount: item.volumeUSD,
                    link: item.id,
                    images: [
                    'https://www.cryptocompare.com' + this.CRYPTOCOMPAREservice.coins[item.pool.token0.symbol].ImageUrl,
                    'https://www.cryptocompare.com' + this.CRYPTOCOMPAREservice.coins[item.pool.token1.symbol].ImageUrl
                    ]
                }"
                [rank]="index % 10"
                [service]="this.brandName"
                styling="hottest"
                type="pool"
                [@ngIfProfileAnimations]
                >
        
                </app-link-box>
            </ng-container>
        </section>
    </section>
</section>
<section class="slider-row" id="trending">
    <h5 class="heading"><span id="text">Trending</span><small id="description"># of transactions in an hour</small></h5>
    <section class="items-wrapper">
        <section class="items">
            <ng-container *ngFor="let item of (this.trending | async); let index = index">
                <app-link-box [data]="{
                    heading: item.pool.token0.symbol + '/' + item.pool.token1.symbol,
                    footing: item.pool.token1.symbol,
                    tagline: item.txCount + ' TXs',
                    amount: undefined,
                    link: item.id,
                    images: [
                    'https://www.cryptocompare.com' + this.CRYPTOCOMPAREservice.coins[item.pool.token0.symbol].ImageUrl,
                    'https://www.cryptocompare.com' + this.CRYPTOCOMPAREservice.coins[item.pool.token1.symbol].ImageUrl
                    ]
                }"
                [rank]="index % 10"
                [service]="this.brandName"
                styling="trending"
                type="pool"
                [@ngIfProfileAnimations]
                >
        
                </app-link-box>
            </ng-container>
        </section>
    </section>
</section>