@import '../../../colors.scss';
:host {
    grid-area:left;
    display:grid;
    grid-template-areas:
    '. . .'
    '. user .'
    '. text .'
    '. . .';
    grid-template-columns: $margin 1fr $margin;
    grid-template-rows: $margin max-content 1fr $margin;
    app-user {
        grid-area:user;
        justify-self: center;
    }
    section#text {
        grid-area:text;
        justify-self: end;
        text-align: right;
        font-size:1.25rem;
        color:$white;
        span {
            text-decoration: underline;
            text-decoration-color: $tertiary;
        }
        b {
            color:$tertiary;
        }
    }
}