<app-account
*ngIf="this.account !== undefined && this.account.walletAddress !== undefined && this.account.avatarUri !== undefined && this.account.borderUri !== undefined && this.account.accessoryUri !== undefined"
[extralarge]="true"
[view]="true"
[address]="this.account.walletAddress"
[avatarUri]="this.account.avatarUri"
[borderUri]="this.account.borderUri"
[accessoryUri]="this.account.accessoryUri"
></app-account>

<section id="text">
    <div *ngIf="this.account !== undefined && this.account.joinDate !== undefined">
        Joined on <span>{{this.account.joinDate | date:'longDate'}}</span>
    </div>
    <b *ngIf="this.account !== undefined && this.account.followers !== undefined">{{((this.account.followers / 1000) | number:'1.1-1')}}k</b> Followers
    <br>
    <b *ngIf="this.account !== undefined && this.account.following !== undefined">{{((this.account.following / 1000) | number:'1.1-1')}}k</b> Following
</section>

<section id="actions">
    <app-action icon="edit" description="Edit" *ngIf="this.account !== undefined && (this.myAddress | async) === this.account.walletAddress && this.account.walletAddress !== undefined" (click)="this.showEdit()"></app-action>
    <app-action icon="following" description="Follow" *ngIf="this.isFollowing === true" (click)="this.unfollow()"></app-action>
    <app-action icon="notfollowing" description="Unfollow" *ngIf="this.isFollowing === false" (click)="this.follow()"></app-action>
</section>