<app-account
*ngIf="!this.forceProfileChange && this.account !== undefined && this.account.walletAddress !== undefined && this.account.avatarUri !== undefined && this.account.borderUri !== undefined && this.account.accessoryUri !== undefined"
[extralarge]="true"
[view]="true"
[address]="this.account.walletAddress"
[avatarUri]="this.account.avatarUri"
[borderUri]="this.account.borderUri"
[accessoryUri]="this.account.accessoryUri"
[@ngIfProfileAnimations]
></app-account>

<section id="text"
*ngIf="!this.forceProfileChange"
[@ngIfProfileAnimations]>
    <div id="join-date" *ngIf="this.account !== undefined && this.account.joinDate !== undefined && this.joinDate !== undefined">
        Joined on <span id="date">{{this.joinDate | date:'longDate'}}</span>
    </div>
    <span class="follow"><b *ngIf="this.account !== undefined && this.account.followers !== undefined">
        <ng-container *ngIf="this.account.followers > 999">
            {{((this.account.followers / 1000) | number:'1.1-1')}}k
        </ng-container>
        <ng-container *ngIf="this.account.followers <= 999">
            {{this.account.followers | number}}
        </ng-container>
    </b>
        <br>Followers <img class="icon" src="../../../assets/icons/followers.png"/>
    </span>

    <span class="follow"><b *ngIf="this.account !== undefined && this.account.following !== undefined">
        <ng-container *ngIf="this.account.following > 999">
            {{((this.account.following / 1000) | number:'1.1-1')}}k
        </ng-container>
        <ng-container *ngIf="this.account.following <= 999">
            {{this.account.following | number}}
        </ng-container>
    </b>
        <br>Following <img class="icon" src="../../../assets/icons/following.png"/>
    </span>
</section>

<section id="actions"
*ngIf="!this.forceProfileChange"
[@ngIfProfileAnimations]>
    <app-action icon="edit" description="Edit" *ngIf="this.account !== undefined && (this.myAddress | async) === this.account.walletAddress && this.account.walletAddress !== undefined" (click)="this.showEdit()"></app-action>
    <app-action icon="follow" description="Follow" *ngIf="(this.isFollowing | async) !== true && (this.myAddress | async) !== ''" (click)="this.follow()"></app-action>
    <app-action icon="follownot" description="Unfollow" *ngIf="(this.isFollowing | async) === true && (this.myAddress | async) !== ''" (click)="this.unfollow()"></app-action>
</section>