@import '../../../colors.scss';
:host {
    display:grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content";
    position:relative;
    min-height:48px;
    min-width:48px;
    max-height:48px;
    max-width:48px;
    height:48px;
    width:48px;
    &.active {
        &:before {
            opacity:1;
            z-index:-1;
            border-color: $tertiary;
            filter: drop-shadow(0px 0px $dropshadow2 $tertiary);
        }
        img {
            transform:scale(0.8);
            filter: drop-shadow(0px 0px $dropshadow2 $white);
            // filter: invert(1);
        }
    }
    img {
        grid-area:content;
        justify-self: center;
        align-self: center;
        pointer-events: none;
        // transform:scale(0.5);
        transition:$transition;
        overflow:hidden;
    }
    span#description {
        grid-area: content;
        background:$tertiary;
        color:$black;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        border-radius:$borderradius;
        font-variant-caps: all-small-caps;
        overflow:hidden;
        text-overflow: ellipsis;
        font-size:0.8rem;
        min-height:16px;
        min-width:48px;
        max-height:16px;
        max-width:48px;
        height:16px;
        width:48px;
        opacity:0;
        transform:translateY(100%);
        transition:$transition;
        &.small {
            font-size:0.6rem;
        }
    }
    &:before {
        border-radius:100px;
        content:'';
        position:absolute;
        top:0px;
        right:0px;
        left:0px;
        bottom:0px;
        border:2px solid $white;
        background: rgba(0, 0, 0, 0.5);
        opacity:0;
        transition:$transition;
    }
    &:hover {
        span#description {
            opacity:1;
            transform:translateY(0%);
            filter: drop-shadow(0px 0px $dropshadow2 $tertiary);
        }
        &:before {
            opacity:1;
            background: rgba(0, 0, 0, 0.5)!important;
            border-color: $white!important;
        }
        img {
            transform:scale(0.5);
            filter:invert(0)!important;
        }
    }
    cursor: pointer;
}