@import '../../colors.scss';
:host {
    position: relative;
    min-height:64px;
    max-height:64px;
    min-width:100%;
    max-width:100%;
    width:100%;
    z-index:1;
    grid-area:navbar;
    background:$black;
    display:grid;
    grid-template-areas:
    "text user wallet";
    grid-template-rows: 1fr;
    grid-template-columns: 0.9fr 0.05fr 0.05fr;
    align-content: center;
    app-user {
        grid-area: user;
    }
    app-action {
        grid-area:wallet;
    }
    @media (max-width:1100px) {
        min-width:calc(100vw);
        max-width:calc(100vw);
    }
    position:relative;
}