
<span id="console">
    <b id="user" *ngIf="this.user !== undefined && this.user.walletAddress !== undefined">
        {{this.user.walletAddress}}:
    </b>
    <span id="route">~/
        {{(this.currentRoute | async)}}
    </span>
    <b id="delimiter">
        $
    </b>
    <span id="mouseover" *ngIf="(this.SITEservice.mouseover | async) !== ''"
    [@ngIfAnimations]>
        {{(this.SITEservice.mouseover | async)}}
    </span>
</span>

<app-user
*ngIf="this.user !== undefined && this.user.walletAddress !== undefined && this.user.avatarUri !== undefined && this.user.borderUri !== undefined && this.user.accessoryUri !== undefined"
[small]="true"
[view]="true"
[address]="this.user.walletAddress"
[avatarUri]="this.user.avatarUri"
[borderUri]="this.user.borderUri"
[accessoryUri]="this.user.accessoryUri"
></app-user>

<app-action
class="wallet"
icon="wallet"
description="Login"
(click)="login()"
*ngIf="(this.myAddress | async) === ''"
>
</app-action>

<app-action
class="wallet"
icon="logout"
description="Logout"
(click)="logout()"
*ngIf="(this.myAddress | async) !== ''"
>
</app-action>

<app-action
class="user"
icon="create"
description="New"
(click)="createAccount()"
*ngIf="(this.myAddress | async) !== '' && this.user === undefined"
>
</app-action>