
<span id="console">
    <b id="account" *ngIf="this.account !== undefined && this.account.walletAddress !== undefined">
        {{this.account.walletAddress}}:
    </b>
    <span id="route">~/
        {{(this.currentRoute | async)}}
    </span>
    <b id="delimiter">
        $
    </b>
    <span id="mouseover" *ngIf="(this.SITEservice.mouseover | async) !== ''"
    [@ngIfAnimations]>
        {{(this.SITEservice.mouseover | async)}}
    </span>
</span>

<app-account
*ngIf="this.account !== undefined && this.account.walletAddress !== undefined && this.account.avatarUri !== undefined && this.account.borderUri !== undefined && this.account.accessoryUri !== undefined"
[small]="true"
[view]="true"
[address]="this.account.walletAddress"
[avatarUri]="this.account.avatarUri"
[borderUri]="this.account.borderUri"
[accessoryUri]="this.account.accessoryUri"
></app-account>

<app-action
class="wallet"
icon="wallet"
description="Login"
(click)="login()"
*ngIf="(this.myAddress | async) === ''"
>
</app-action>

<app-action
class="wallet"
icon="logout"
description="Logout"
(click)="logout()"
*ngIf="(this.myAddress | async) !== ''"
>
</app-action>

<app-action
class="account"
icon="create"
description="New"
(click)="createAccount()"
*ngIf="(this.myAddress | async) !== '' && this.account === undefined"
>
</app-action>