@import '../../colors.scss';
:host {
    position: relative;
    min-height:64px;
    max-height:64px;
    min-width:100%;
    max-width:100%;
    width:100%;
    z-index:1;
    grid-area:navbar;
    background:$black;
    display:grid;
    grid-template-areas:
    ". console account wallet .";
    grid-template-rows: 1fr;
    grid-template-columns: $margin 0.9fr 0.05fr 0.05fr $margin;
    align-content: center;
    span#console {
        align-self: center;
        justify-self: start;
        justify-items: start;
        justify-content: start;
        display:grid;
        grid-area:console;
        grid-auto-flow: column;
        color:$white;
        grid-template-areas:
        "account route delimiter mouseover";
        grid-template-columns: max-content max-content max-content max-content;
        grid-template-rows: 1fr;
        font-weight:900;
        max-width:100%;
        overflow: hidden;
        text-overflow: hidden;
        b#account {
            grid-area:account;
            color:$tertiary;
        }
        span#route {
            grid-area:route;
        }
        b#delimiter {
            grid-area:delimiter;
        }
        span#mouseover {
            grid-area:mouseover;
            position: relative;
        }
    }
    app-account, app-action.account {
        grid-area: account;
    }
    app-action.wallet {
        grid-area:wallet;
    }
    @media (max-width:1100px) {
        min-width:calc(100vw);
        max-width:calc(100vw);
    }
    position:relative;
}