@import '../../../colors.scss';
:host {
    min-width:100%;
    max-width:100%;
    width:100%;
    min-height:100%;
    max-height:100%;
    height:100%;
    grid-area: center;
    display:grid;
    grid-template-rows:$margin max-content max-content $margin;
    grid-auto-columns: $margin 1fr $margin;
    grid-template-areas:
    '. . .'
    '. heading .'
    '. chat .'
    '. . .';
    position:relative;
    row-gap:$gap;
    overflow-y: scroll;
    h1#heading {
        grid-area:heading;
        font-size:3rem;
        color:$white;
        margin:0px;
        overflow:hidden;
        text-overflow: ellipsis;
        text-decoration: underline;
        text-decoration-color: $tertiary;
        text-decoration-thickness: 4px;
    }
    @media (max-width: 1100px) {
        h1#heading {
            font-size:1.5rem;
        }
    }
    section#chat {
        display:grid;
        grid-area:chat;
        grid-auto-columns: 1fr;
        grid-auto-rows: max-content;
        overflow-y:scroll;
        row-gap:$gap;
        min-width:100%;
        max-width:100%;
        width:100%;
        overflow-x:hidden;  
        // border-radius: $borderradius;
        // ^ CAN'T FIGURE OUT HOW TO MAKE THE TOP RIGHT/BOTTOM RIGHT BORDER RADIUS SHOW - DUE TO SCROLLBAR
        // BUG FIX REQUIRED
        background:$lightestblack;
    }
}