@import '../../../colors.scss';
:host {
    min-width:100%;
    max-width:100%;
    width:100%;
    min-height:100%;
    max-height:100%;
    height:100%;
    grid-area: center;
    display:grid;
    grid-template-rows:1fr max-content;
    grid-template-columns: $margin 1fr $margin;
    grid-template-areas:
    '. chat .'
    '. user-input .';
    position:relative;
    overflow:hidden;
    section#user-input {
        grid-area:user-input;
        min-height:100%;
        max-height: 100%;
        height:100%;
        min-width:100%;
        max-width: 100%;
        width: 100%;
        margin: 0px;
        background:$grey;
        input {
            z-index:1;
            font-size: 1rem;
            min-width:100%;
        }
        span#title {
            z-index:2;
            font-size:0.75em;
            font-variant-caps: all-small-caps;
            transform:translate(0px, -32px);
            background: rgba(0,0,0, 0.25);
            border:5px solid $tertiary;
            border-radius: $borderradius;
            color:$tertiary;
            padding:$margin;
            transition: $transition;
            backdrop-filter: blur(4px);
            filter:drop-shadow($dropshadow0 $dropshadow1 $dropshadow2 $black);
            pointer-events: all;
            cursor: not-allowed;
            &.typing {
                background:$tertiary;
                color:$black;
                cursor:pointer;
                &:hover {
                    // SIMILAR TO HOVERING OVER AN ACCOUNT PICTURE - BUT REPEAT THE
                    // GLASS LIKE ANIMATION
                    @keyframes glass {

                    }
                }
            }
        }
    }
    section#chat {
        display:grid;
        grid-area:chat;
        grid-template-areas:
        '. . .'
        '. messages .'
        '. . .';
        grid-template-columns: $margin 1fr $margin;
        grid-template-rows: 0px 1fr 0px;

        min-width:100%;
        max-width:100%;
        width:100%;
        min-height: 100%;
        max-height: 100%;
        height: 100%;
        overflow-x:hidden;
        overflow-y: scroll;
    }
    section#messages {
        display:grid;
        grid-area:messages;
        grid-auto-columns: 1fr;
        grid-auto-rows: max-content;
        row-gap:$gap;
        min-width:100%;
        max-width:100%;
        width:100%;
        min-height: 100%;
    max-height: 100%;
    height: 100%;
        // border-radius: $borderradius;
        // ^ CAN'T FIGURE OUT HOW TO MAKE THE TOP RIGHT/BOTTOM RIGHT BORDER RADIUS SHOW - DUE TO SCROLLBAR
        // BUG FIX REQUIRED
        justify-content: center;
        justify-items: center;
        
    }
    @media (max-width: 1100px) {
    }
    background:$lightestblack;
    border-radius:$borderradius $borderradius 0px 0px;
    border-radius:$borderradius $borderradius 0px 0px;
    -moz-border-radius:$borderradius $borderradius 0px 0px;
    -webkit-border-radius:$borderradius $borderradius 0px 0px;
}