@import '../../../colors.scss';
:host {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"content";
    position: relative;
    border-radius:320px;
    align-self: center;
    justify-self: center;
    transition: $transition;
    img {
        overflow:hidden;
    }
    section#accessory {
        grid-area:content;
        z-index:100;
        justify-self: end;
        pointer-events: none;
    }
    div#inner {
        display:grid;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        grid-template-areas: 'content';
        position: relative;
        overflow: hidden;
        * {
            grid-area:content;
        }
        img {
            z-index:1;
        }
        &:before, &:after {
            z-index:2;
        }
    }
    &.extralarge {
        min-height:176px;
        max-height:176px;
        min-width:176px;
        max-width:176px;
        section#wrapper {
            min-height:176px;
            max-height:176px;
            min-width:176px;
            max-width:176px;
            img {
                min-height:160px;
                max-height:160px;
                min-width:160px;
                // max-width:160px;
            }
            div#inner {
                max-width:160px;
            }
            div#outer {
                min-height:176px;
                max-height:176px;
                min-width:176px;
                max-width:176px;
                img {
                    min-height:176px;
                    max-height:176px;
                    min-width:176px;
                    max-width:176px;
                }
            }
        }
    }
    &.large {
        min-height:88px;
        max-height:88px;
        min-width:88px;
        max-width:88px;
        section#wrapper {
            min-height:88px;
            max-height:88px;
            min-width:88px;
            max-width:88px;
            img {
                min-height:80px;
                max-height:80px;
                min-width:80px;
                // max-width:80px;
            }
            div#inner {
                max-width:80px;
            }
            div#outer {
                min-height:88px;
                max-height:88px;
                min-width:88px;
                max-width:88px;
                img {
                    min-height:88px;
                    max-height:88px;
                    min-width:88px;
                    max-width:88px;
                }
            }
        }
    }
    &.medium {
        min-height:70.4px;
        max-height:70.4px;
        min-width:70.4px;
        max-width:70.4px;
        section#wrapper {
            min-height:70.4px;
            max-height:70.4px;
            min-width:70.4px;
            max-width:70.4px;
            img {
                min-height:64px;
                max-height:64px;
                min-width:64px;
                // max-width:64px;
            }
        }
        div#inner {
            max-width:64px;
        }
        div#outer {
            min-height:70.4px;
            max-height:70.4px;
            min-width:70.4px;
            max-width:70.4px;
            img {
                min-height:70.4px;
                max-height:70.4px;
                min-width:70.4px;
                max-width:70.4px;
            }
        }
    }
    &.small {
        min-height:35.2px;
        max-height:35.2px;
        min-width:35.2px;
        max-width:35.2px;
        section#wrapper {
            min-height:35.2px;
            max-height:35.2px;
            min-width:35.2px;
            max-width:35.2px;
            img {
                min-height:32px;
                max-height:32px;
                min-width:32px;
                // max-width:32px;
            }
        }
        div#inner {
            max-width:32px;
        }
        div#outer {
            min-height:35.2px;
            max-height:35.2px;
            min-width:35.2px;
            max-width:35.2px;
            img {
                min-height:35.2px;
                max-height:35.2px;
                min-width:35.2px;
                max-width:35.2px;
            }
        }
    }
    span#action {
        position:absolute;
        background:$tertiary;
        border-radius:$borderradius;
        filter: drop-shadow(0px 0px $dropshadow2 $tertiary);
        padding:10px;
        transition:$transition;
        opacity:0;
        text-align:center;
        justify-self: center;
        align-self: center;
        color:$black;
        z-index:100;
        font-weight:900;
        font-family: 'Nunito';
        font-size:0em;
        overflow:hidden;
        font-variant-caps: all-small-caps;
    }
    div#inner {
        z-index:1;
    }
    div#outer {
        z-index:0;
    }
    div#inner, div#outer {
        display:grid;
        grid-template-areas:'content';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow:hidden;
        border-radius:320px;
        justify-self: center;
        align-self: center;
    }
    section#wrapper {
        display:grid;
        grid-template-areas:'content';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow:hidden;
        border-radius:320px;
    }
    section#wrapper, div#inner, img, div#inner:after, div#inner:before, div#outer {
        grid-area: content;
        pointer-events: none;
    }
    cursor: pointer;
    div#inner:after {
        border-radius:100px;
        content: "";
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        background: $white;
        transform:translateX(100%);
        opacity:0;
        transition:$transition;
    }
    div#inner:before {
        border-radius:100px;
        content: "";
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        background: $black;
        transform:translateX(0%);
        opacity:0;
        transition:$transition;
    }
    &:hover {
        div#inner:after {
            transform:translate(-100%);
            opacity:0.5;
        }
        div#inner:before {
            opacity:0.33;
        }
        span#action {
            opacity:1;
            font-size:0.75em;
        }
        &.large {
            span#action {
                transform:translate(0px, 0px);
            }
        }
        &.extralarge {
            span#action {
                transform:translate(0px, 0px);
            }
        }
        &.medium {
            span#addres {
                transform:translate(0px, 0px);
            }
            // span#action {
            //     transform:translate(calc(32px + 100%), 0px);
            // }
            // @media (max-width:1100px) {
            //     span#action {
            //         transform:translate(0px, 32px);
            //     }
            // }
        }
        &.small {
            span#action {
                transform:translate(0px, 0px);
            }
        }
    }
    // &.hide {
    //     opacity:0;
    //     transform:scale(0);
    // }
}