<section id="wrapper">
    <div id="outer">
        <img
        [src]="this.borderUri" />
    </div>
    <div id="inner">        
        <ng-container *ngIf="!this.defaultAvatar">
            <img class="regular"
            [src]="this.avatarUri" />
        </ng-container>
        <ng-container *ngIf="this.defaultAvatar">
            <img
            [src]="this.avatarUri" />
        </ng-container>
    </div>
</section>
<span id="action" *ngIf="this.view">
    {{"View"}}
</span>
<span id="action" *ngIf="this.chat">
    {{"Chat"}}
</span>
<section id="accessory" *ngIf="this.small === false">
    <img
    [src]="this.accessoryUri"
    [ngStyle]="{
    'transform': this.defaultAccessory && this.extralarge ? 'scale(2) scaleX(-1) translate(8px, 8px)' : 'scale(1) scaleX(-1)'
    }"/>
</section>