@import '../../../colors.scss';
:host {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"content";
    position: relative;
    border-radius:320px;
    align-self: center;
    justify-self: center;
    overflow:hidden;
    section#accessory {
        grid-area:content;
    }
    &.extralarge {
        min-height:176px;
        max-height:176px;
        min-width:176px;
        max-width:176px;
        section#wrapper {
            min-height:176px;
            max-height:176px;
            min-width:176px;
            max-width:176px;
            img {
                min-height:160px;
                max-height:160px;
                min-width:160px;
                max-width:160px;
            }
            div#outer {
                img {
                    min-height:176px;
                    max-height:176px;
                    min-width:176px;
                    max-width:176px;
                }
            }
        }
    }
    &.large {
        min-height:88px;
        max-height:88px;
        min-width:88px;
        max-width:88px;
        section#wrapper {
            min-height:88px;
            max-height:88px;
            min-width:88px;
            max-width:88px;
            img {
                min-height:80px;
                max-height:80px;
                min-width:80px;
                max-width:80px;
            }
            div#outer {
                img {
                    min-height:88px;
                    max-height:88px;
                    min-width:88px;
                    max-width:88px;
                }
            }
        }
    }
    &.medium {
        min-height:70.4px;
        max-height:70.4px;
        min-width:70.4px;
        max-width:70.4px;
        section#wrapper {
            min-height:70.4px;
            max-height:70.4px;
            min-width:70.4px;
            max-width:70.4px;
            img {
                min-height:64px;
                max-height:64px;
                min-width:64px;
                max-width:64px;
            }
        }
        div#outer {
            img {
                min-height:70.4px;
                max-height:70.4px;
                min-width:70.4px;
                max-width:70.4px;
            }
        }
    }
    &.small {
        min-height:35.2px;
        max-height:35.2px;
        min-width:35.2px;
        max-width:35.2px;
        section#wrapper {
            min-height:35.2px;
            max-height:35.2px;
            min-width:35.2px;
            max-width:35.2px;
            img {
                min-height:32px;
                max-height:32px;
                min-width:32px;
                max-width:32px;
            }
        }
        div#outer {
            img {
                min-height:35.2px;
                max-height:35.2px;
                min-width:35.2px;
                max-width:35.2px;
            }
        }
    }
    span#address {
        position:absolute;
        background:$tertiary;
        border-radius:$borderradius;
        filter:drop-shadow($dropshadow0 $dropshadow1 $dropshadow2 $black);
        padding:10px;
        transition:$transition;
        opacity:0;
        text-align:center;
        justify-self: center;
        align-self: center;
        color:$black;
    }
    div#inner {
        z-index:1;
    }
    div#outer {
        z-index:0;
    }
    div#inner, div#outer {
        display:grid;
        grid-template-areas:'content';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow:hidden;
        border-radius:320px;
        justify-self: center;
        align-self: center;
    }
    section#wrapper {
        display:grid;
        grid-template-areas:'content';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow:hidden;
        border-radius:320px;
    }
    section#wrapper, div#inner, img, div#inner:after, div#inner:before, div#outer {
        grid-area: content;
        pointer-events: none;
    }
    img {
        overflow:hidden;
    }
    cursor: pointer;
    div#inner:after {
        border-radius:100px;
        content: "";
        position:0px;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        background: $white;
        transform:translateX(100%);
        opacity:0;
        transition:$transition;
    }
    div#inner:before {
        border-radius:100px;
        content: "";
        position:0px;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        background: $black;
        transform:translateX(0%);
        opacity:0;
        transition:$transition;
    }
    &:hover {
        div#inner:after {
            transform:translate(-100%);
            opacity:0.5;
        }
        div#inner:before {
            opacity:0.33;
        }
        span#address {
            opacity:1;
        }
        &.large {
            span#address {
                transform:translate(0px, 0px);
            }
        }
        &.extralarge {
            span#address {
                transform:translate(0px, 0px);
            }
        }
        &.medium {
            span#address {
                transform:translate(0px, 0px);
            }
        }
        &.small {
            span#address {
                transform:translate(0px, 0px);
            }
        }
    }
}