@import '../colors.scss';
:host {
    display:grid;
    grid-area: app-root;
    grid-template-areas:
    "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin:0px;
    padding:0px;
    min-height:100vh;
    max-height:fit-content;
    min-width:100vw;
    max-width:100vw;
    main {
        display:grid;
        grid-area: main;
        grid-template-areas:
        "sidebar navbar navbar navbar"
        "sidebar left center right";
        grid-template-columns: 100px 0.25fr 1fr 0.25fr;
        grid-template-rows: 64px 1fr;
        min-height:100vh;
        max-height:fit-content;
        min-width:100vw;
        max-width:100vw;
        background: $lightgrey;
    }
}