<section id="content">
    
<app-action #home
icon="home"
description="Home"
(click)="goHome()"
(mouseover)="onOver('home')"
(mouseleave)="onLeave('')"
>
</app-action>
    
<app-action #basic
icon="details"
description="Basic"
(click)="showBasic()"
(mouseover)="onOver('basic_info')"
(mouseleave)="onLeave('')"
*ngIf="(this.currentRoute | async)?.substr(0, 7) === 'profile'"
[@ngIfAnimations]
>
</app-action>
    
<app-action #transactions
icon="transfers"
description="Tx Info"
(click)="showBasic()"
(mouseover)="onOver('transaction_info')"
(mouseleave)="onLeave('')"
*ngIf="(this.currentRoute | async)?.substr(0, 7) === 'profile'"
[@ngIfAnimations]
>
</app-action>
    
<app-action #followers
icon="followers"
description="F..ers"
(click)="showBasic()"
(mouseover)="onOver('followers_info')"
(mouseleave)="onLeave('')"
*ngIf="(this.currentRoute | async)?.substr(0, 7) === 'profile'"
[@ngIfAnimations]
>
</app-action>
    
<app-action #following
icon="following"
description="F..ing"
(click)="showBasic()"
(mouseover)="onOver('following_info')"
(mouseleave)="onLeave('')"
*ngIf="(this.currentRoute | async)?.substr(0, 7) === 'profile'"
[@ngIfAnimations]
>
</app-action>

<span id="friend-seperator">FRIENDS</span>
<ng-container  *ngFor="let friend of friends">
<app-account *ngIf="friend !== undefined && friend.walletAddress !== undefined && friend.avatarUri !== undefined && friend.borderUri !== undefined && friend.accessoryUri !== undefined"
[address]="friend.walletAddress"
[medium]="true"
[chat]="true"
[avatarUri]="friend.avatarUri"
[borderUri]="friend.borderUri"
[accessoryUri]="friend.accessoryUri"
></app-account>
    
</ng-container>

</section>