
<app-action #home
icon="home"
>
</app-action>

<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>
<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>
<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>
<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>
<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>

<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>
<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>
<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>
<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>
<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>

<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>
<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>
<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>
<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>
<app-user
[address]="myAddress"
[medium]="true"
[chat]="true"
></app-user>