<section id="content">
    
<app-action #home
icon="home"
description="Home"
(click)="goHome()"
(mouseover)="onOver()"
(mouseleave)="onLeave()"
>
</app-action>

<ng-container  *ngFor="let friend of friends">
<app-user *ngIf="friend !== undefined && friend.walletAddress !== undefined && friend.avatarUri !== undefined && friend.borderUri !== undefined && friend.accessoryUri !== undefined"
[address]="friend.walletAddress"
[medium]="true"
[chat]="true"
[avatarUri]="friend.avatarUri"
[borderUri]="friend.borderUri"
[accessoryUri]="friend.accessoryUri"
></app-user>
    
</ng-container>

</section>