<section id="container">
    <app-user
    *ngIf="this.user !== undefined && this.user.avatarUri !== undefined && this.user.borderUri !== undefined && this.user.accessoryUri !== undefined"
    [large]="true"
    [view]="true"
    [address]="this.data.address"
    [avatarUri]="this.user.avatarUri"
    [borderUri]="this.user.borderUri"
    [accessoryUri]="this.user.accessoryUri"
    ></app-user>

    <section id="notification" *ngIf="this.data.notificationType === 'LIST'">
        {{this.data.address + ' listed ' + this.data.notificationCollection + ' #' + this.data.notificationCollectionItem + ' for '}}<b id="price">{{this.data.notificationPrice}}<i>Ξ</i></b>
    </section>

    <section id="actions">
        <app-action
        icon="stats"
        description="More"
        >
        </app-action>
        <app-action
        icon="share"
        description="Share"
        >
        </app-action>
    </section>

    <section id="time" *ngIf="(this.timeElapsed | async) !== '0'">
        {{(this.timeElapsed | async)}}
    </section>

    <section id="reputation"
    *ngIf="(this.data.reputation | async) as reputation"
    [ngClass]="{
    'negative': reputation < 0,
    'neutral': reputation === 0,
    'positive': reputation > 0
    }">
        +{{reputation}} Rep
    </section>
</section>

<h5 id="type">
    {{this.data.notificationType}}
</h5>