@import '../../../colors.scss';
:host {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background:$lightblack;
    border-radius:$borderradius;
    filter: drop-shadow($dropshadow0 $dropshadow1 $dropshadow2 $black);
    cursor: pointer;
    align-content: center;
    align-items: center;
    grid-template-areas: 'content';
    &:nth-of-type(even) {
        background:$darkestgrey;
    }
    transition:$transition;
    p#alert, span#buttons {
        grid-area:content;
    }
    span#buttons {
        justify-self: end;
        display:grid;
        grid-auto-flow: column;
    }
    img#close, img#view {
        display:grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        margin:$margin;
        font-weight:900;
        color:$tertiary;
        transition:$transition;
        border-radius: $borderradius;
        min-width:48px;
        max-width:48px;
        width:48px;
        min-height:48px;
        max-height:48px;
        height:48px;
        opacity:0.25;
        position:relative;
    }
    span#close, span#view {
        display:grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        position:relative;
        &:before {
            content:'';
            position:absolute;
            top:0px;
            left:0px;
            right:0px;
            bottom:0px;
            transition:$transition;
            border-radius: $borderradius;
            // background:orange;
        }
        &:hover {
            img, &:before {
                opacity:0.75;
                color:$black;
                transform:scale(0.5) translateY(48px);
                filter: invert(1);
            }
            &:before {
                background:$tertiary;
                filter: invert(0);
            }
        }
    }
    &:hover {
        background:$lightestgrey;
        p#alert {
            color:$tertiary;
            b {
                text-decoration-color: $white;
            }
        }
    }
    p#alert {
        transition: $transition;
        color:$white;
        margin:$margin;
        overflow: hidden;
        text-overflow: ellipsis;
        b {
            text-decoration: underline;
            text-decoration-color: $tertiary;
            transition: $transition;
        }
    }
    // @media (max-width:1100px) {
    //     border-radius: $borderradius;
    // }
}