<span id="close" (click)="this.close()">
    <img id="close" src="../../../assets/icons/close.png"/>
</span>
>
  <!-- <section id="banner"
  [@ngIfBannerAnimations]
  *ngIf="this.viewing !== ''"
  [ngStyle]="{
  'background': 'url(../assets/textures/' + this.banner + '.png)',
  'background-size': '100% 100%',
  'background-repeat': 'repeat'
  }">
  </section> -->
<section id="edit-panel">
    <section id="banner"
    [@ngIfBannerAnimations]
    *ngIf="this.account !== undefined && this.account.bannerUri !== undefined"
    [ngStyle]="{
    'background': 'url(' + this.account.bannerUri + ')',
    'background-size': '100% 100%',
    'background-repeat': 'repeat'
    }">
    <app-action
    id="banner-picture"
    icon="changebannerpicture"
    description="Banner"
    [ngClass]="{
        'changed': this.bannerChanged
    }">

    </app-action>
    </section>
    <app-account
    *ngIf="this.account !== undefined && this.account.walletAddress !== undefined && this.account.avatarUri !== undefined && this.account.borderUri !== undefined && this.account.accessoryUri !== undefined"
    [extralarge]="true"
    [view]="true"
    [address]="this.account.walletAddress"
    [avatarUri]="this.account.avatarUri"
    [borderUri]="this.account.borderUri"
    [accessoryUri]="this.account.accessoryUri"
    ></app-account>

    <app-action
    id="avatar-picture"
    icon="changeavatarpicture"
    description="Avatar"
    [ngClass]="{
        'changed': this.avatarChanged
    }">

    </app-action>

    <app-action
    id="border-picture"
    icon="changeborderpicture"
    description="Border"
    [ngClass]="{
        'changed': this.borderChanged
    }">

    </app-action>

    <app-action
    id="accessory-picture"
    icon="changeaccessorypicture"
    description="Extra"
    [ngClass]="{
        'changed': this.accessoryChanged
    }">

    </app-action>

    <section id="name" class="input">
        <span>Name</span>
        <ng-container *ngIf="this.account.accountId !== ''">
            <input #name id="name" *ngIf="this.account !== undefined && this.account.accountId !== undefined" [placeholder]="this.account.accountId"/>
        </ng-container>
        <ng-container *ngIf="this.account.accountId === ''">
            <input #name id="name" *ngIf="this.account !== undefined && this.account.accountId !== undefined" placeholder="Unnamed Account"/>
        </ng-container>
    </section>
    <section id="bio" class="input">
        <span>Bio</span>
        <textarea #bio cols="10" rows="5" id="bio" *ngIf="this.account !== undefined && this.account.bio !== undefined" [placeholder]="this.account.bio"></textarea>
    </section>

    <button 
    *ngIf="this.name !== undefined && this.bio !== undefined"
    [ngClass]="{
        'disabled': !this.avatarChanged && !this.bannerChanged && this.name.nativeElement.value === '' && this.bio.nativeElement.value === ''
    }"
    id="save" (click)="this.edit()">
        <span>
            Save
        </span>
    </button>

</section>