<span id="close" (click)="this.close()">
    <img id="close" src="../../../assets/icons/close.png"/>
</span>
  <!-- <section id="banner"
  [@ngIfBannerAnimations]
  *ngIf="this.viewing !== ''"
  [ngStyle]="{
  'background': 'url(../assets/textures/' + this.banner + '.png)',
  'background-size': '100% 100%',
  'background-repeat': 'repeat'
  }">
  </section> -->
<section id="edit-panel" *ngIf="this.account | async as account">
    <section id="banner"
    [@ngIfBannerAnimations]
    *ngIf="account !== undefined && account.bannerUri !== undefined"
    [ngStyle]="{
    'background': 'url(' + account.bannerUri + ')',
    'background-size': '100% 100%',
    'background-repeat': 'repeat'
    }">
    <app-action
    id="banner-picture"
    icon="changebannerpicture"
    description="Banner"
    [ngClass]="{
        'changed': this.bannerChanged
    }"
    type="file">

    </app-action>
    </section>
    <app-account
    *ngIf="account !== undefined && account.walletAddress !== undefined && account.avatarUri !== undefined && account.borderUri !== undefined && account.accessoryUri !== undefined"
    [extralarge]="true"
    [view]="true"
    [address]="account.walletAddress"
    [avatarUri]="account.avatarUri"
    [borderUri]="account.borderUri"
    [accessoryUri]="account.accessoryUri"
    ></app-account>

    <app-action
    id="avatar-picture"
    icon="changeavatarpicture"
    description="Avatar"
    [ngClass]="{
        'changed': this.avatarChanged
    }"
    type="file">

    </app-action>

    <app-action
    id="border-picture"
    icon="changeborderpicture"
    description="Border"
    [ngClass]="{
        'changed': this.borderChanged
    }"
    (click)="chooseBorderPicture()">

    </app-action>

    <app-action
    id="accessory-picture"
    icon="changeaccessorypicture"
    description="Extra"
    [ngClass]="{
        'changed': this.accessoryChanged
    }"
    (click)="chooseAccessoryPicture()">

    </app-action>

    <section id="name" class="input">
        <span>Name</span>
        <ng-container *ngIf="account.accountId !== ''">
            <input #name id="name" *ngIf="account !== undefined && account.accountId !== undefined" [placeholder]="account.accountId"/>
        </ng-container>
        <ng-container *ngIf="account.accountId === ''">
            <input #name id="name" *ngIf="account !== undefined && account.accountId !== undefined" placeholder="Unnamed Account"/>
        </ng-container>
    </section>
    <section id="bio" class="input">
        <span>Bio</span>
        <textarea #bio cols="10" rows="5" id="bio" *ngIf="account !== undefined && account.bio !== undefined" [placeholder]="account.bio"></textarea>
    </section>

    <button 
    *ngIf="this.name !== undefined && this.bio !== undefined"
    [ngClass]="{
        'disabled': !this.nameChanged && !this.bioChanged && !this.avatarChanged && !this.bannerChanged && !this.borderChanged && !this.accessoryChanged
    }"
    id="save" (click)="this.edit()">
        <span>
            Save
        </span>
    </button>

</section>