@import '../../../colors.scss';
:host {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: 
    'who-sent'
    'message'
    'timestamp';
    min-width: 90%;
    max-width:90%;
    width:90%;
    p#message {
        grid-area:message;
        color:$black;
        background: $primary;
        border-radius: $borderradius;
        filter: drop-shadow($dropshadow0 $dropshadow1 $dropshadow2 $black);
        text-align: left;
        padding: $margin;
        margin:0px;
        justify-self: stretch;
        span#text {
            overflow:hidden;
            text-overflow: ellipsis;
        }
    }
    span#timestamp {
        grid-area:timestamp;
        color:$black;
        // background: $primary;
        // border-radius: $borderradius;
        // filter: drop-shadow($dropshadow0 $dropshadow1 $dropshadow2 $black);
        display:grid;
        text-align: right;
        // padding: $margin;
        font-size:0.75rem;;

    }
    span#who-sent {
        grid-area:who-sent;
        justify-self: start;
        font-family: 0.75rem;
        color:$primary;
        position:relative;
        min-height:32px;
        &:before {
            position:absolute;
            transform:translateY(22px);
            content:'';
            height:4px;
            top:0px;
            bottom:0px;
            left:0px;
            right:0px;
            background:$lightestgrey;
            border-radius:$borderradius;
            opacity: 0.8;
            
        }
    }
    transform:translateX(-5%);
    &.sender {
        transform:translateX(0%);
        span#who-sent {
            color:$tertiary;
            justify-self: end;
        }
        p#message {
            background:$tertiary;
        }
        span#timestamp {
            text-align: left;
        }
        justify-self: end;
    }
}