<h1 *ngIf="this.account !== undefined && this.account.accountId !== undefined" id="name">
    {{this.account.accountId}}
</h1>

<h3 *ngIf="this.account !== undefined && this.account.walletAddress !== undefined" id="address">
    {{this.account.walletAddress}}
</h3>

<span *ngIf="this.account !== undefined && this.account.bio !== undefined" id="tagline">
    {{this.account.bio}}
</span>

<section id="badges" *ngIf="this.account !== undefined && this.account.record !== undefined" >
    <app-badge *ngFor="let accolade of this.account.record"
    [data]="accolade">
        
    </app-badge>
</section>