<h1 *ngIf="this.user !== undefined && this.user.userId !== undefined" id="name">
    {{this.user.userId}}
</h1>

<h3 *ngIf="this.user !== undefined && this.user.walletAddress !== undefined" id="address">
    {{this.user.walletAddress}}
</h3>

<span *ngIf="this.user !== undefined && this.user.bio !== undefined" id="tagline">
    {{this.user.bio}}
</span>

<section id="badges" *ngIf="this.user !== undefined && this.user.accolades !== undefined" >
    <app-badge *ngFor="let accolade of this.user.accolades"
    [data]="accolade">
        
    </app-badge>
</section>