$primary: rgb(4, 197, 245);
$tertiary: rgb(138, 236, 9);
// $tertiaryclear: rgba(138, 236, 9, 0.25);
$blue: rgb(4, 197, 245);
$green: rgb(138, 236, 9);
$orange: rgb(245, 189, 4);
$yellow: rgb(221, 236, 9);
$red: rgb(245, 52, 4);
$black: #000;
$lightblack: #0c0c0c;
$grey: #1b1b1b;
$lightestgrey: #525252;
$lightergrey: #333333;
$lightgrey: #202020;
$darkestgrey: #141414;
$darkgrey: #181818;
$white: #FFF;
$borderradius: 10px;
$dropshadow0: 1px;
$dropshadow1: 1px;
$dropshadow2: 2px;
$transition: 0.25s;
$gap: 20px;
$mobilegap: 5px;
$margin: 10px;