@import './assets/fonts/stylesheet.css';
@import './colors.scss';
html {
    background: $lightgrey;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: $tertiary rgba(0,0,0,0);   /* scroll thumb and track */
    ::-webkit-scrollbar {
        border-color:$black;
        border-radius: $borderradius;       /* roundness of the scroll thumb */
      width: 6px;               /* width of the entire scrollbar */
      height: 6px;               /* width of the entire scrollbar */
    }
    
    ::-webkit-scrollbar-track {
        border-color:rgba(0, 0, 0, 0.2);
        border-radius: $borderradius;       /* roundness of the scroll thumb */
      background: rgba(0,0,0,0);        /* color of the tracking area */
    }
    

    ::selection {
        color: $black;
        background: $tertiary;
      }
    
    ::-webkit-scrollbar-thumb {
        background: $tertiary; /* Old browsers */
        // background: -moz-linear-gradient(top,  $dark-primary 0%, $primary 100%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(top,  $dark-primary 0%, $primary 100%); /* Chrome10-25,Safari5.1-6 */
        // background: linear-gradient(to bottom,  $dark-primary 0%, $primary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ffb0', endColorstr='#89daff',GradientType=0 ); /* IE6-9 */
      border-radius: $borderradius;       /* roundness of the scroll thumb */
      border: 3px solid rgba(0, 0, 0, 0.2);  /* creates padding around scroll thumb */
    }

    ::-webkit-scrollbar-corner {
        background: rgba(0,0,0,0.5);
        border-radius:$borderradius;
    }
    * {
        scrollbar-color: $tertiary rgba(0,0,0,0);   /* scroll thumb and track */
        scrollbar-width: thin; 
        ::-webkit-scrollbar-thumb {
            background: $tertiary; /* Old browsers */
            // background: -moz-linear-gradient(top,  $dark-primary 0%, $primary 100%); /* FF3.6-15 */
            // background: -webkit-linear-gradient(top,  $dark-primary 0%, $primary 100%); /* Chrome10-25,Safari5.1-6 */
            // background: linear-gradient(to bottom,  $dark-primary 0%, $primary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ffb0', endColorstr='#89daff',GradientType=0 ); /* IE6-9 */
          border-radius: $borderradius;       /* roundness of the scroll thumb */
          border: 3px solid rgba(0, 0, 0, 0.2);  /* creates padding around scroll thumb */
        }
    }
}
html, body {
    display:grid;
    grid-template-areas:
    "body";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin:0px;
    padding:0px;
    min-height:100vh;
    max-height: 100vh;
    min-width:100vw;
    max-width:100vw;
    overflow:hidden;
}
body {
    grid-area:body;
    grid-template-areas:
    "app-root";
}
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    &.regular {
        image-rendering: auto;
    }
}
* {
    font-family: 'Istok Web';
}
h1, h2, h3, h4, h5, h6, button {
    font-family: 'Nunito';
}
input, textarea, button {
    background:none;
    border:none;
    outline:none;
}
button {
    display:grid;
    grid-template-areas:
    '. . .'
    '. content .'
    '. . .';
    grid-template-columns: $margin 1fr $margin;
    grid-template-rows: $margin 1fr $margin;
    span {
        grid-area:content;
    }
}
.input {
    border-radius: $borderradius;
    background: rgba(0, 0, 0, 0.5);
    color:$lightestgrey;
    font-variant-caps: all-small-caps;
    margin:$margin;
    display:grid;
    grid-template-areas:
    '. . .'
    '. content .'
    '. . .';
    grid-template-columns: $margin 1fr $margin;
    grid-template-rows: $margin 1fr $margin;
    justify-self: center;
    span {
        grid-area:content;
        font-size:3rem;
        font-weight: 900;
        font-family: 'Istok Web';
        // text-decoration: underline;
        // text-decoration-color: $tertiary;
        pointer-events:none;
        z-index:0;
        justify-self: end;
        text-align:left;
        transform:translateX(-32px);
        transition: $transition;
        opacity:0.25;
    }
    textarea, input {
        z-index:1;
        grid-area:content;
        color: $white;
        font-size:3rem;
        border-radius: $borderradius;
        margin: $margin;
        resize: none;
        overflow:hidden;
        text-overflow: ellipsis;
    }
    
    input::placeholder {
        color: $lightestgrey;
        opacity: 0.4;
    }
      
    input:-ms-input-placeholder {
        color: $lightestgrey;
        opacity: 0.4;
    }
    
    input::-ms-input-placeholder {
        color: $lightestgrey;
        opacity: 0.4;
    }

    input::-webkit-input-placeholder {
        color: $lightestgrey;
        opacity: 0.4;
    }
      
    input:not(:placeholder-shown),
    textarea:not(:placeholder-shown) {
        border:2px dashed $tertiary;
        box-sizing: border-box;
    }
    input:placeholder-shown,
    textarea:placeholder-shown {
    }
    textarea {
        font-size:1.5rem;
    }
    &:hover, &:focus, &:active {
        span {
            opacity:1;
            color:$tertiary;
            transform:translateX(-48px) translateY(-46px);
        }
    }
}