<h4 id="heading">{{this.data.heading}}</h4>
<img *ngIf="this.data.images[0] !== 'https://www.cryptocompare.com'" [src]="this.data.images[0]" class="image" id="img-0"/>
<img *ngIf="this.data.images[1] !== 'https://www.cryptocompare.com'" [src]="this.data.images[1]" class="image" id="img-1"/>
<h6 id="rank">#{{this.rank + 1}}</h6>
<span id="tagline"
[ngClass]="{
'amount': (this.data.amount !== undefined),
'tagline': (this.data.tagline !== undefined)
}">
    <ng-container *ngIf="this.data.amount !== undefined && this.data.tagline === undefined">
        <ng-container *ngIf="this.data.amount < 1000">
            {{(this.data.amount | currency)}}
        </ng-container>
        <ng-container *ngIf="this.data.amount < 1000000 && this.data.amount >= 1000">
            {{((this.data.amount / 1000) | currency)}}<b>K</b>
        </ng-container>
        <ng-container *ngIf="this.data.amount < 1000000000 && this.data.amount >= 1000000">
            {{((this.data.amount / 1000000) | currency)}}<b>M</b>
        </ng-container>
        <ng-container *ngIf="this.data.amount < 1000000000000 && this.data.amount >= 1000000000">
            {{((this.data.amount / 1000000000) | currency)}}<b>B</b>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="this.data.tagline !== undefined && this.data.amount === undefined">
        <b>{{this.data.tagline.substring(0, this.data.tagline.indexOf(' '))}}</b>
        {{this.data.tagline.substring(this.data.tagline.indexOf(' '))}}
    </ng-container>
</span>
<app-action id="goto" icon="view" description="View" (click)="viewItem()">
</app-action>
<!-- <h4 id="footing">{{this.data.footing}}</h4> -->