@import '../../../colors.scss';
:host {
    min-width:100%;
    max-width:100%;
    width:100%;
    min-height:100%;
    max-height:100%;
    height:100%;
    grid-area: center;
    display:grid;
    grid-template-rows:$margin max-content max-content $margin;
    grid-template-columns: $margin 1fr $margin;
    grid-template-areas:
    '. . .'
    '. heading .'
    '. accounts .'
    '. . .';
    position:relative;
    row-gap:$gap;
    overflow-y: scroll;
    h1#heading {
        grid-area:heading;
        font-size:3rem;
        color:$white;
        margin:0px;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: $transition;
        &:before {
            position:absolute;
            transform:translateY(96px);
            content:'';
            height:4px;
            top:0px;
            bottom:0px;
            left:32px;
            right:32px;
            background:$tertiary;
            border-radius:$borderradius;
            opacity: 0.8; 
            filter: drop-shadow(0px 0px $dropshadow2 $tertiary);
        }
    }
    @media (max-width: 1100px) {
        h1#heading {
            font-size:1.5rem;
            &:before {
                transform:translateY(64px);
            }
        }
    }
    section#accounts {
        grid-area:accounts;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(88px, 88px));
        row-gap: $mobilegap;
        column-gap: $mobilegap;
        justify-content: center;
        transition: $transition;
    }
    &.hide {
        section#accounts, h1#heading {
            opacity:0;
            transform:scale(0);
        }
    }
}