
    <b id="score"
    *ngIf="this.account !== undefined && this.account.reputation !== undefined"
    [@ngIfProfileAnimations]
    [ngClass]="{
        'terrible': this.account.reputation < 0,
        'bad': this.account.reputation < 100 && this.account.reputation >= 0,
        'okay': this.account.reputation < 1000 && this.account.reputation >= 100,
        'good': this.account.reputation < 5000 && this.account.reputation >= 1000,
        'great': this.account.reputation >= 5000
    }"
    >{{((this.account.reputation) | number:'1.0-0')}}</b>
    <img src="assets/icons/score.png"
    [@ngIfProfileAnimations]>