@import '../../../colors.scss';
:host {
    grid-area: right;
    display:grid;
    grid-template-columns: $margin max-content 1fr $margin;
    grid-template-rows:$margin 1fr $margin;
    grid-template-areas:
    '. . . .'
    ". score-icon score ."
    ". . . .";
    // align-self: center;
    // // align-items: center;
    // // align-content: center;
    img {
        grid-area:score-icon;
    }
    b#score {
        justify-self: end;
        grid-area:score;
        font-size:2rem;
        color:$white;
    }
    
}