
    <b id="score"
    *ngIf="this.user !== undefined && this.user.reputation !== undefined"
    [ngClass]="{
        'terrible': this.user.reputation < 0,
        'bad': this.user.reputation < 100 && this.user.reputation >= 0,
        'okay': this.user.reputation < 1000 && this.user.reputation >= 100,
        'good': this.user.reputation < 5000 && this.user.reputation >= 1000,
        'great': this.user.reputation >= 5000
    }"
    >{{((this.user.reputation) | number:'1.0-0')}}</b>
    <img src="../../../assets/icons/score.png">